*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.flex {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
}

.chat {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}

.chat__container {
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  height: 95vh;
  padding: 8px;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
}

.btn {
  padding: 0;
  font-weight: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input,
.btn_chat {
  padding: 6px 8px;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #000;
}

.chat__top {
  margin-bottom: 7px;
  justify-content: space-between;
}

.chat__middle {
  height: 100%;
  margin-bottom: 8px;
  overflow-y: scroll;
  border: 1px solid #000;
}

.chat__output {
  min-height: 90%;
  padding: 8px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  /* display: inline-block; */
  max-width: 270px;
  padding: 8px;
}

.message:not(:last-child) {
  margin-bottom: 8px;
}

.message__text {
  max-width: 270px;
  margin-bottom: 4px;
  word-wrap: break-word;
}

.message__time {
  display: block;
  text-align: end;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  color: #333;
}

.message_me {
  align-self: end;
  background: #f7f7f7;
}

.message_companion {
  align-self: start;
  background: #e5e5e5;
}

.chat__form {
  justify-content: space-between;
}

.input_message {
  width: 100%;
}

.btn_message-submit {
  margin-left: 5px;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(83, 83, 83, 0.61);
}

.inactive {
  display: none;
}

.modal__element {
  /*display: none;*/
  width: 273px;
  height: 319px;
  margin: 108px 24px;
  padding: 14px;
  background-color: #fff;
}

/* .modal__element_settings,
.modal__element_confirmation,
.modal__element_authorization {
    display: none;
} */

.modal__top {
  margin-bottom: 16px;
  justify-content: space-between;
}

.modal__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.btn_close-modal {
  width: 14px;
  height: 14px;
  font-size: 24px;
  line-height: 70%;
  opacity: 45%;
  transform: rotate(-45deg);
}

.chat-name {
  margin-bottom: 8px;
}

.settings__form {
  justify-content: space-between;
}

.input_settings {
  width: 207px;
}

.input_confirmation,
.input_authorization {
  width: 100%;
  margin-bottom: 7px;
}

.form-title {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 900px) {
  .chat {
    margin: 20px auto 100px;
  }

  .chat__container {
    height: calc(100vh - 120px);
  }

  .modal {
    align-items: baseline;
  }
}
